openapi: 3.0.3
info:
  title: Laboratório de Cozinha - API atual (parcial)
  version: 0.1.0
  description: Contratos confirmados; não contém segredos. Funções não inspecionadas estão inventariadas em 05-API-REFERENCE.md.
servers:
  - url: https://laborat-rio-de-cozinha.base44.app/functions
paths:
  /webhookMercadoPago:
    post:
      summary: Webhook Mercado Pago
      parameters:
        - in: header
          name: x-signature
          required: true
          schema: {type: string}
        - in: header
          name: x-request-id
          required: true
          schema: {type: string}
        - in: query
          name: data.id
          schema: {type: string}
      requestBody:
        content:
          application/json:
            schema: {$ref: '#/components/schemas/MPNotification'}
      responses:
        '200': {description: Recebido/processado}
        '401': {description: Assinatura inválida}
        '500': {description: Erro interno}
  /salvarCalculoCusto:
    post:
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [calculo, itens]
              properties:
                calculo: {type: object, additionalProperties: true}
                itens: {type: array, maxItems: 50, items: {type: object, additionalProperties: true}}
      responses:
        '200': {description: Cálculo persistido}
        '400': {description: Payload inconsistente}
        '404': {description: Receita/ficha inacessível}
        '409': {description: Versão posterior existente}
        '500': {description: Erro com compensação}
  /campanhaEmail:
    post:
      security: [{bearerAuth: []}]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                acao: {type: string, enum: [teste, disparar]}
                destinatarios: {type: array, items: {type: string, format: email}}
                assunto: {type: string}
                corpo: {type: string}
      responses:
        '200': {description: Resultado do envio}
        '400': {description: Ação inválida}
        '401': {description: Não autenticado}
        '403': {description: Não admin}
        '500': {description: Erro interno}
  /contagensHome:
    post:
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Totais
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalReceitas: {type: integer}
                  totalIngredientes: {type: integer}
                  totalCardapios: {type: integer}
                  receitasAtualizadas30d: {type: integer}
        '401': {description: Não autenticado}
components:
  securitySchemes:
    bearerAuth: {type: http, scheme: bearer}
  schemas:
    MPNotification:
      type: object
      properties:
        type: {type: string}
        topic: {type: string}
        action: {type: string}
        data:
          type: object
          properties: {id: {type: string}}